.pageTitle {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #d70137;
}

.breadcumbs {
  margin-top: 8px !important;
}

.breadActive {
  color: #5c5c5c;
  text-decoration: none !important;
  font-weight: 700;
}

.breadActive:hover {
  color: #181818;
}

.breadUnactive {
  font-weight: 700;
  color: #181818;
}

.detailContainer {
  margin-top: 24px;
  border-radius: 16px;
}

.p {
  margin-bottom: 20px;
}

/* main */
.container {
  display: flex;
  gap: 16px;
}

.leftContainer {
  width: 75%;
}

.profile {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  gap: 16px;
}

.name {
  font-size: 24px;
  color: #181818;
  font-weight: 700;
}

.imageBoxProfile {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
}

.fotoDetailInfo {
  text-align: center;
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}

.imageItemProfile {
  width: 150px;
  min-height: 150px;
}

.type {
  margin: 8px 0px;
  font-size: 18px;
  font-weight: 700;
}

.city {
  font-size: 16px;
}

/* main detail */
.mainDetail {
  background-color: #fff;
  padding: 24px;
  margin-top: 24px;
  border-radius: 8px;
}

.mainUserDetail {
  margin-bottom: 24px;
}

.mainTitle {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mainTitleIcon {
  font-size: 18px;
  color: #d70137;
}

.mainTitleText {
  font-size: 18px;
  color: #181818;
  font-weight: bold;
}

.mainDetailData {
  display: flex;
  margin-top: 16px;
}

.mainLeftData {
  flex: 1;
}

.mainRightData {
  flex: 3;
}

.mainLeftData,
.mainRightData {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.mainDetailDataImage {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
/* status */
.status {
  width: 25%;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  height: 150px;
}

.statusReject {
  width: 25%;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  height: 400px;
}

.titleTimeline {
  font-size: 16px;
  color: #181818;
}

.textTimeline {
  margin-top: 8px;
  color: #5c5c5c;
}

.statusTitle {
  margin-bottom: 24px;
  color: #181818;
  font-weight: 700;
  font-size: 16px;
}

.labelVerif {
  margin-top: 16px;
}
.chooseVerif {
  margin-top: 4px;
  width: 100%;
}

.btnConfirm {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8px;
  margin-top: 16px;
  background-color: #d70137;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.BtnConfirmDisabled {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8px;
  margin-top: 16px;
  background-color: #5c5c5c;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

.loadingConfirm {
  margin: 0;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 1150px;
  }
}
