.wrapper {
  background-color: #f3f4f5;
  min-height: 100vh;
  max-width: 100%;
}

.content {
  width: 60%;
  height: calc(100vh - 60px);
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.maskotImage {
  width: 400px;
  height: auto;
  margin-top: 24px;
}

.leftContent {
  width: 55%;
}

.leftContent .title {
  font-size: 32px;
  font-weight: 800;
  color: #d70137;
}

.leftContent .description {
  font-size: 16px;
  color: #181818;
  margin: 8px 0px 24px 0px;
}

.rightContent {
  width: 45%;
}

.rightContent .formGroup {
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 24px 30px;
}

.formGroup .formTitle {
  font-weight: 800;
  font-size: 20px;
  color: #181818;
  text-align: center;
}

.formGroup .alertLogin {
  margin: 16px 0px 16px 0px;
}

.alertLogin .alertText {
  font-size: 12px;
}

.formGroup .formField {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.input {
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 8px 8px;
}

.input:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
  border-right-width: 1px;
  outline: 0;
}

.btnShowPw {
  background-color: #fff;
  border: none;
}

.btnLogin {
  width: 100%;
  height: 38px;
  border: none;
  background-color: #d70137;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnLogin:hover {
  background-color: #ea0e45;
}

.loadingLogin {
  margin: 0;
  display: flex;
  align-items: center;
}

/* breakpoints */
/* tablet */
@media screen and (max-width: 1024px) {
  .content {
    width: 80%;
  }
}

/* mobile */
@media screen and (max-width: 720px) {
  .leftContent {
    display: none;
  }

  .rightContent {
    width: 100%;
  }
}

.infoLogin {
  margin-top: 8px;
  display: flex;
  justify-content: end;
}

.linkForgetPw {
  text-align: end;
  text-decoration: none;
  color: #d70137;
  font-size: 14px;
}
