.pageTitle {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  color: #d70137;
}

.breadcumbs {
  margin-top: 8px !important;
}

.breadActive {
  color: #5c5c5c;
  text-decoration: none !important;
  font-weight: 700;
}

.breadActive:hover {
  color: #181818;
}

.breadUnactive {
  font-weight: 700;
  color: #181818;
}

.UserListContent {
  width: 100%;
  margin-top: 20px;
}

.titleListUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleTextMain {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
}

.titleDesc {
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #5c5c5c;
}

.container {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 8px;
}

.table {
  border-radius: 8px;
  max-width: 100%;
}

.head {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.th {
  font-weight: 700;
  font-size: 16px;
  color: #181818;
}

.mitraProfileBox {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.mitraProfile {
  border-radius: 4px;
  width: 40px;
  min-height: 40px;
}

.trBody {
  border-bottom: 1px solid #ced4da;
}

.td {
  vertical-align: middle;
  font-size: 14px;
  color: #181818;
}

.owner {
  line-height: 20px;
}
.tdTime {
  margin-top: 4px;
}

.mitra {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #181818;
  font-size: 16px;
}

.statusNo {
  font-size: 14px;
  color: #faad26;
  font-weight: 700;
}

.statusReject {
  font-size: 14px;
  color: #ed2121;
  font-weight: 700;
}

.statusApp {
  font-size: 14px;
  color: #00c247;
  font-weight: 700;
}
.seeDetail {
  font-size: 12px;
  color: #004ce8;
}

.zeroData {
  text-align: center;
}

.paginationContainer {
  display: flex;
}

.helperPag {
  flex: 1;
}
.pagination {
  margin: 16px 8px;
}

/* responsive */
@media screen and (max-width: 1024px) {
  .container {
    width: 1000px;
  }
}

/* .statistikContainer {
  background: #fff;
  margin-top: 24px;
  padding: 24px;
  -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 2px;
} */

.statistikTitle {
  font-size: 18px;
  display: block;
  margin: 0;
  font-weight: 700;
  line-height: 20px;
}

.statistikDesc {
  margin-top: 4px;
}

.statistikBoxs {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #5c5c5c;
  opacity: 0.2;
  margin: 12px 0px;
}

.topInfo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.monthPeriod {
  display: flex;
  align-items: center;
}

.monthPeriodValue {
  font-weight: 700;
}

.filterBox {
  display: flex;
  gap: 24px;
  align-items: center;
}

.searchContainer {
  display: flex;
  gap: 8px;
}

.searchBtn {
  background-color: #d70137;
  border: none;
  border-radius: 4px;
  padding: 0px 24px !important;
  color: #fff;
}

/* new */
.tableContainerDoctor {
  margin-top: 24px;
}

.UserListContent {
  width: 100%;
  margin-top: 20px;
}

.titleListUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleTextMain {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
}

.titleDesc {
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #5c5c5c;
}

.btnAddUser {
  background: #d70137;
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 14px;
  height: 40px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btnAddUser:hover {
  background: #b80041;
  color: #fff;
}

.iconActionView {
  font-size: 20px;
  color: green;
}

.iconActionEdit {
  font-size: 20px;
  color: blue;
}
.iconActionDelete {
  font-size: 20px;
  color: #d70137;
}

.searchContainer {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.searchBtn {
  background-color: #d70137;
  border: none;
  border-radius: 4px;
  padding: 0px 24px !important;
  color: #fff;
}
